
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index </title>
</head>

<body>
    <h2> Welcome to the Raktch Technology and Software's Backend System !!! </h2>
    <b> 
        <i> 
            If you've already an account, please just LogIn otherwise you've to SignUp first to explore more.
        </i> 
    </b>
    
    <br> 
    <br>

    <button> <a href="{% url 'register' %}"> SignUp </a> </button>
    <button> <a href="{% url 'login' %}"> LogIn </a> </button>
    
</body>

</html>