
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> achievements </title>
</head>
<body>

    <h2> <u> Achievement List </u> </h2>

    {% if achievements %}
        <table border="1px"> 
            <tr> 
                <th> Id </th>
                <th> Name </th>
                <th> Actions </th>
            </tr>
            {% for ach in achievements %}
            <tr>
                <td> {{ ach.id }} </td>
                <td> {{ ach.name }} </td>
                <td> 
                    <a href="{% url 'delete-achievement' ach.id %}"> Delete </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2> No Achievement Found </h2>
    {% endif %}

    <br>

    <a href="{% url 'add-achievement' %}"> Add Achievement </a> <br> 
    <a href="{% url 'home' %}"> Back </a>
    
</body>
</html>