
{% extends 'employee_app/home.html' %}

{% block title %} acheivements {% endblock %}

{% block content %}

    <h2> <u> Achievement List: </u> </h2>

    {% if achievements %}
        <table border="1px"> 
            <tr> 
                <th> Id </th>
                <th> Name </th>
                <th> Actions </th>
            </tr>
            {% for ach in achievements %}
            <tr>
                <td> {{ ach.id }} </td>
                <td> {{ ach.name }} </td>
                <td> 
                    <a href="{% url 'update-achievement' ach.id %}"> Update </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2> No Achievement Found </h2>
    {% endif %}

    <br>

    <a href="{% url 'add-achievement' %}"> Add Achievement </a> 
    
    <br>
    <br>

    <a href="{% url 'home' %}"> Go Back </a>
    
{% endblock %}