

{% extends 'employee_app/home.html' %}

{% block title %} departments {% endblock %}

{% block content %} 
    <h2> <u> Department List: </u> </h2>
    {% if departments %}
        <table border="1px">
            <tr>
                <th> Id </th>
                <th> Name </th>
                <th> Actions </th>
            </tr>
            {% for dept in departments %}
               <tr> 
                   <td> {{ dept.id }} </td>
                   <td> {{ dept.name }} </td>
                   <td> 
                      <a href="{% url 'update-department' dept.id %}"> Update </a>
                      |
                      <a href="{% url 'delete-department' dept.id %}"> Delete </a>
                   </td>
               </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2> No Department Found </h2>
    {% endif %}

    <br>

    <a href="{% url 'add-department' %}"> Add Department </a> 
    
    <br>
    <br> 

    <a href="{% url 'home' %}"> Go Back </a>
    
{% endblock %}