<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>

    {% if employees %}
        <table border=1px>
            <tr>
                <th>Name</th> 
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Department</th>
                <th>Achievements</th>
                <th> Actions </th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.department }}</td>
                <td>
                    {% for ach in employee.achievements.all %}
                        {{ ach.name }} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td> <a href="{% url 'update-employee' employee.id %}"> Update </a> | <a href="{% url 'delete-employee' employee.id %}"> Delete </a> </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No Employee Found</h2> 
    {% endif %}

    <br>
    <a href="{% url 'add-employee' %}">Add Employee</a>
    
</body>
</html>
