<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} home {% endblock %} </title>
</head>
<body>
    <h2> Welcome to the Backend System !!! </h2>

     <button>  <a href="{% url 'employee-list' %}"> Employees </a> </button>
     <button>  <a href="{% url 'departments' %}"> Departments </a> </button>
     <button>  <a href="{% url 'achievements' %}"> Achievements </a> </button>

     <button>  <a href="{% url 'logout' %}"> Logout </a> </button>

     {% block content %}

     {% endblock%}

</body>
</html>
