<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> home </title>
</head>
<body>
     <h1> Welcome to Raktch technology and Software's backend system !!! </h1>

     <button>  <a href="{% url 'employee-list' %}"> Employees </a> </button>
     <button>  <a href="{% url 'departments' %}"> Departments </a> </button>
     <button>  <a href="{% url 'achievements' %}"> Achievements </a> </button>
    
    
</body>
</html>